########################################
## Ignore things from C compilation

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app


########################################
## Ignore things from autotools build

# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile

# and other things

/configure
/depcomp
/install-sh
/missing
/config.guess
/config.h.in
/config.sub
/ltmain.sh
/m4/*
/config.h.in~
